 *{
    margin: 0;
    padding: 0;
}
body {
   
  }
.header {
    background-color: cornflowerblue;
    box-sizing:border-box;
    text-align: center;
    margin: auto;
    padding: 12px;
    
}
.nav{
    background-color: rgba(102, 97, 97, 0.445);
    color: rgb(217, 224, 230);
    display: inline-block;
    width: 100vw;
    margin-top:12px;
    padding: 12px;
   
}
.nav a:hover {
    background-color: rgba(95, 231, 67, 0.774);
    font-size:18px;
}
.nav a:link {
    color: rgb(50, 89, 121);
    text-decoration: none;
    padding: 12px;
    
}
.nav a:active{
    color: rgb(24, 23, 21);
    text-decoration: none;
    padding: 12px;

}
.nav a:visited
{
    color: rgb(26, 25, 23);
    text-decoration: none;
    padding: 12px;
}

.main_container{
    background-image: url('/img/image3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
    width: 100%;
    
}
.main_text{
    text-align: center;
    top: 20%;
    /* right: 25%; */
    position: relative;
    height: 50%;
    
}
h1{ text-transform: uppercase;
    color: black;
    text-shadow: 2px 2px 4px rgb(173, 255, 78);
    text-shadow: 2px;
    font-size:300%;
    /* font-style: italic; */
   
}
p{
    text-transform: uppercase;
    color: rgb(15, 7, 7);
    text-shadow: 2px 2px 4px rgb(235, 119, 37);
    text-shadow: 2px;
    font-style: italic;
    font-size: 100%;
}

.row {
    background-color: darkkhaki;
    width: 100vw;

}

.column
{   
    float:left;
    /* border: 2px dotted black; */
   
    background-color:rgba(78, 218, 132, 0.781) ;
    margin: 50px 25px 40px;

    width:45%;
    height: 50vh;

}
.column:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (min-width: 1235px) {
    .column {
      width: 46%;
      height: 80vh;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1020px) {
    .column {
      width: 95vw;
      height: 60vh;
      
    }
  }
.desc{
    background-color: rgb(204, 223, 223);
    /* border: 2px dotted black; */
    color: black;
    text-align: center;
    padding: 12px;
    
}
.follow{
    background-color:rgba(110, 219, 119, 0.61) ;
    display: inline-block;
    margin-top: 50px;
    padding: 12px;
    text-align: center;
    width: 100%;
    height:10vh;
}
.footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    height: 10vh;
}

